* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --main-background: hsl(218, 28%, 13%);
  --footer-background: hsl(216, 53%, 9%);
  --intro-email-signup-background: hsl(217, 28%, 15%);
  --testimonial-background: hsl(219, 30%, 18%);
  --cyan: hsl(176, 68%, 64%);
  --blue: hsl(198, 60%, 50%);
  --neutral: hsl(0, 0%, 100%);
  --error: hsl(0, 100%, 63%);
  --details-text-color: hsl(0, 0%, 87%);
}

@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Raleway&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--main-background);
}
/* nav styles */
nav {
  padding: 3% 5% 0;
  display: flex;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
  background-color: var(--intro-email-signup-background);
}
nav > img {
  width: 150px;
}
nav > ul {
  display: flex;
  justify-content: flex-end;
  width: 200px;
}
.nav-links > a {
  text-decoration: none;
  margin-left: 3%;
  color: var(--neutral);
  font-size: 1rem;
}

/* intro styles */
.intro {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  background-color: var(--intro-email-signup-background);
  background-image: url("../images/bg-curvy-desktop.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  padding-bottom: 2%;
}
.intro > p {
  color: var(--neutral);
  text-align: center;
  padding-bottom: 2%;
}
.intro-title {
  font-size: 2.5rem;
  font-weight: 700;
}
.intro-subtitle {
  min-width: 200px;
  max-width: 600px;
  font-size: 1.2rem;
  color: var(--neutral);
  text-align: center;
  padding: 0 20px 20px 20px;
}
.primary-button {
  width: 300px;
  height: 60px;
  background: linear-gradient(to right, var(--cyan), var(--blue));
  color: white;
  border-radius: 30px;
  border: none;
  font-size: 1.2rem;
}

/* services styles */
.services {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-background);
  padding: 100px 0;
  margin: 0 auto;
}
.service-top,
.service-bottom {
  display: flex;
  justify-content: center;
}
.service {
  flex-basis: 45%;
  margin: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service-title,
.service-details {
  color: var(--neutral);
  text-align: center;
}
.service-title {
  font-size: 1.5rem;
  font-weight: 700;
}
.service-details {
  font-size: 1rem;
  line-height: 30px;
  color: var(--details-text-color);
}
.item-access {
  grid-column-start: 2;
}
.item-security {
  grid-column-start: 3;
}
.item-collaboration {
  grid-column-start: 2;
}
.item-store {
  grid-column-start: 3;
}

/* productive styles */
.productive {
  width: 100%;
  display: flex;
  padding: 100px 10%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.image-div {
  flex-basis: 50%;
}
.image-div > img {
  width: 100%;
}
.content-div {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content-div > span {
  text-align: start;
  padding: 2%;
}
.productive-title {
  font-size: 2.6rem;
  color: var(--neutral);
  font-weight: 700;
}
.see-how-works-url {
  color: var(--cyan);
  padding: 2%;
  border-bottom: 1px solid var(--cyan);
}
.see-how-works-url > .fas {
  color: var(--cyan);
  margin-left: 1%;
  font-size: 1rem;
}
/* testimonial styles */
.testimonials {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 100px auto;
}
.testimonial {
  width: 360px;
  min-width: 325px;
  width: 25%;
  background-color: var(--intro-email-signup-background);
  padding: 3%;
  margin: 2%;
}
.first::before {
  content: "“";
  display: block;
  position: absolute;
  color: var(--cyan);
  font-size: 20rem;
  top: -130px;
  left: 10%;
}
.user-details {
  display: flex;
}
.user-image {
  margin-right: 5%;
  width: 25px;
  height: 25px;
  border-radius: 13px;
}
.name-designation {
  display: flex;
  flex-direction: column;
}
.testimonial-details {
  color: var(--neutral);
  text-align: start;
  font-size: 1rem;
  line-height: 30px;
  margin-bottom: 5%;
}
.user-name {
  font-size: 0.9rem;
  color: var(--neutral);
  font-weight: 700;
}
.user-designation {
  font-size: 0.6rem;
  color: var(--neutral);
}
/* signup styles */
.signup {
  padding: 100px 10%;
  display: flex;
  justify-content: center;
  background: linear-gradient(
    to bottom,
    var(--main-background) 0%,
    var(--main-background) 50%,
    var(--footer-background) 50%,
    var(--footer-background) 100%
  );
}
.signup-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  min-width: 200px;
  padding: 6% 2%;
  background-color: var(--intro-email-signup-background);
  box-shadow: 4px -4px 20px 5px rgba(0, 0, 0, 0.2);
}
.signup-title {
  color: var(--neutral);
  font-size: 2.2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2%;
}
.signup-details {
  width: 70%;
  font-size: 1rem;
  color: var(--details-text-color);
  line-height: 30px;
  margin-bottom: 2%;
  text-align: center;
}
.input-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-box {
  min-width: 60%;
  border-radius: 25px;
  padding: 20px;
  border: none;
  margin-right: 20px;
}
/* footer styles */
footer {
  padding: 3%;
  background-color: var(--footer-background);
}
footer > img {
  margin-bottom: 3%;
}
.footer-links {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1%;
}
.location-div {
  display: flex;
  max-width: 300px;
  min-width: 80px;
  margin: 20px 10px;
}
.location-div > p {
  text-align: start;
}
.location-div > i {
  margin-right: 20px;
  margin-top: 2%;
}
.contact-div {
  width: 200px;
  display: flex;
  flex-direction: column;
  color: var(--neutral);
  margin: 20px 5px;
}
.contact-div > div > i {
  margin-right: 5%;
  margin-bottom: 10%;
}
.link-set1,
.link-set2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
}
.link-set1 > a,
.link-set2 > a {
  margin-bottom: 20px 10px;
  color: var(--neutral);
}
.social-link {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}
.social-link > .fab {
  color: var(--neutral);
  font-size: 2rem;
  padding: 10px;
}
.copyright {
  text-align: center;
  color: var(--neutral);
  font-size: 0.8rem;
  position: relative;
  bottom: 0;
}
.fas {
  font-size: 1.5rem;
  color: var(--neutral);
}
